<!DOCTYPE html >
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<title>用户审核</title>
<link rel="stylesheet" type="text/css"
	href="http://10.1.13.18:8080/css/page_bar.css">
<style>
table {
	width: 90%;
	border-collapse: collapse;
	margin-left: 5%;
	margin-right: 5%;
}

table th {
	height: 20px;
	border: solid 1px #B0C4DE;
	padding: 5px;
	background-color: #F0F0F0;
	text-align: center;
}

table td {
	height: 20px;
	border: solid 1px #B0C4DE;
	padding: 5px;
	text-align: center;
}

#button {
	width: 80px;
	height: 30px;
	border-radius: 5px 5px;
	background-color: #6495ED;
	color: white;
	margin-left: 200px;
}

#box {
	width: 90%;
	height: 120px;
	background: #F0F0F0;
	border: hidden;
	margin-left: 5%;
}

.styleInBox {
	float: left;
	margin-top: 20px;
	margin-left: 10%;
}

option {
	width: 80px;
}
</style>
</head>
<body>
	<div style="margin-left: 20px;">
		<h1>
			<font color="00CCCC">用户审核</font>
		</h1>
	</div>
	<div style="margin-left: 5%;">
		<h2>审核</h2>
	</div>
	<div id="app">
		<div id="box">
			<div class="styleInBox">
				<span>编号:</span> <input v-model="userId" type="text"
					placeholder="请输入编号" />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>姓名:</span> <input
					v-model="userName" type="text" placeholder="请输入姓名" />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>提交时间:</span>
				<input v-model="startDate" type="date" />-- <input
					v-model="endDate" type="date" />
			</div>
			<div class="styleInBox">
				<span>身份证审核状态:</span> <select v-model="identity" name="">
					<option value="-1">请选择</option>
					<option value="0">未审核</option>
					<option value="1">已通过</option>
					<option value="2">未通过</option>
				</select> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>详细信息审核状态:</span>
				<select v-model="info" name="">
					<option value="-1">请选择</option>
					<option value="0">未审核</option>
					<option value="1">已通过</option>
					<option value="2">未通过</option>
				</select> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>视频审核状态:</span>
				<select v-model="view" name="">
					<option value="-1">请选择</option>
					<option value="0">未审核</option>
					<option value="1">已通过</option>
					<option value="2">未通过</option>
				</select> <input @click="search" type="button" value="搜索" />
			</div>
		</div>
		<br />
		<hr style="float: left; margin-left: 5%;" width="90%" />
		<div id="a">
			<table>
				<tr>
					<th width="3%"><input type="checkbox" name="" id="" value="" /></th>
					<th width="">编号</th>
					<th width="">姓名</th>
					<th width="">身份证审核</th>
					<th width="">详细信息审核</th>
					<th width="">视频审核</th>
					<th width="">提交时间</th>
					<th width="">状态</th>
					<th width="">操作</th>
				</tr>
				<tr v-for="data in datas">
					<th width="3%"><input type="checkbox" /></th>
					<td>{{data.userId}}</td>
					<td class="colorOfCodeAndName">{{data.userName}}</td>
					<td class="colorOfCodeAndName">
						<div v-if="data.statusInfo.identityAudit == 1">
							<font color="green">已通过</font>
						</div>
						<div v-else>
							<a
								:href="'http://10.1.13.18:8080/shenfenzhengshenhe.html?id='+data.userId">身份证审核</a>&nbsp;&nbsp;
							<span style="color: blue"
								v-if="data.statusInfo.identityAudit == 0">未审核</span> <span
								style="color: green" v-if="data.statusInfo.identityAudit == 1">已通过</span>
							<span style="color: red"
								v-if="data.statusInfo.identityAudit == 2">未通过</span>
						</div>
					</td>
					<td>
						<div v-if="data.statusInfo.infoAudit == 1">
							<font color="green">已通过</font>
						</div>
						<div v-else>
							<a
								:href="'http://10.1.13.18:8080/xiangxixinxishenhe.html?id='+data.userId">详细信息审核</a>&nbsp;&nbsp;
							<span style="color: blue" v-if="data.statusInfo.infoAudit == 0">未审核</span>
							<span style="color: green" v-if="data.statusInfo.infoAudit == 1">已通过</span>
							<span style="color: red" v-if="data.statusInfo.infoAudit == 2">未通过</span>
						</div>
					</td>
					<td>
						<div v-if="data.statusInfo.viewAudit == 1">
							<font color="green">已通过</font>
						</div>
						<div v-else>
							<a
								:href="'http://10.1.13.18:8080/shipinshenhe.html?id='+data.userId">视频审核</a>&nbsp;&nbsp;
							<span style="color: blue" v-if="data.statusInfo.viewAudit == 0">未审核</span>
							<span style="color: green" v-if="data.statusInfo.viewAudit == 1">已通过</span>
							<span style="color: red" v-if="data.statusInfo.viewAudit == 2">未通过</span>
						</div>
					</td>
					<td>{{data.statusInfo.submitTime}}</td>
					<td>
						<div>
							<div
								v-if="data.statusInfo.identityAudit == 1 && data.statusInfo.infoAudit == 1 && data.statusInfo.viewAudit == 1">
								<font color='green'>审核完成</font>
							</div>
							<div
								v-else-if="data.statusInfo.identityAudit == 2 || data.statusInfo.infoAudit == 2 || data.statusInfo.viewAudit == 2">
								<font color='red'>审核未通过</font>
							</div>
							<div v-else>
								<font color="blue">进行中</font>
							</div>
						</div>
					</td>
					<td>
						<div>
							<a href="guanLiYuanTongzi.html">通知</a>
						</div>
						<div
							v-if="data.statusInfo.identityAudit == 2 || data.statusInfo.infoAudit == 2 || data.statusInfo.viewAudit == 2">
							<font color='red'>开户失败</font>
						</div>
						<div v-else>
							<div v-if="data.statusInfo.openAccount == '1'">
								<font color='green'>开户完成</font>
							</div>
							<div v-else>
								<div
									v-if="data.statusInfo.identityAudit == 1 && data.statusInfo.infoAudit == 1 && data.statusInfo.viewAudit == 1 && data.statusInfo.openAccount != '1'">
									<a @click="openAccount(data.userId)" href="javascript:void(0)">点击开户</a>
								</div>
								<div v-else>
									<font>审核</font>
								</div>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="9" class="td">
						<div class="page-bar">
							<ul>
								<li v-if="pageIndex>1"><a @click="pageClick(-1)">上一页</a></li>
								<li v-if="pageIndex==1"><a class="banclick">上一页</a></li>
								<li v-for="index in indexs" :class="{ 'active': pageIndex == index}">
									<a @click="btnClick(index)">{{ index }}</a>
								</li>
								<li v-if="pageIndex!=totalPage"><a @click="pageClick()">下一页</a></li>
								<li v-if="pageIndex == totalPage"><a class="banclick">下一页</a></li>
								<li><a>共<i>{{totalPage}}</i>页</a></li>
							</ul>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
<script src="http://10.1.13.18:8080/lib/vue.js"></script>
<script src="http://10.1.13.18:8080/lib/vue-resource.js"></script>
<script src="http://10.1.13.18:8080/main/yhsh.js"></script>
</html>